@tailwind base;
@tailwind components;
@tailwind utilities;


.navLink {
    position: relative;
    color: inherit;
    text-decoration: none;
  }
  
  .navLink::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #1e293b; /* Adjust color as needed */
    transition: width 0.3s;
  }
  
  .navLink:hover::after {
    width: 16px;
  }

  @keyframes scaleIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scaleIn {
  animation: scaleIn 0.2s ease-out forwards;
}


  